fieldset{ position:relative; }
ul#context_fields{ padding:0; width:100%; list-style-type:none; margin:0 40px 0 0;
	li.field{ padding:.5em; position:relative; border:1px solid #ccc; margin-bottom:1em; overflow:visible; border:1px dashed #ccc;
		ul.option_bar{ @include inline-block-list; margin:0; padding:0; overflow:hidden; z-index:2000;
			position:absolute; top:-1px; right:0px; background-color:#eee; outline:1px solid #ccc; cursor:move; text-align:right;
			li{ text-align:left; padding:0; }
			li.hint{ display:none; float:left; padding-left:1em; font-style:italic; color:#777; font-size:11px; }
			&:hover{ width:100%; 
				li.hint{ display:block; }
			}
		}
		a.icon_delete{ @include iconSquare(24); }
	}
	li.field_video{ text-align:center;
		*{ text-align:left; }
		div.video_player{ margin:0px auto 2em auto; height:320px; }
		ol{ @include pie-clearfix; background:#eee; padding:.25em; margin-bottom:1em;
			li{ padding:0; margin:0; }
		}
		label, input, select{ display:inline !important; }
	}
}

h1.inheritable{
	input[type=text]{ margin:0; width:100%; padding:0; height:auto; border:1px dashed #ddd; background:none; }
}
textarea.inheritable{ padding:5px; border:1px dashed #ddd; 
	&:focus{ border:1px solid #eee; }
}
textarea.richtext_editor{
	min-height:400px;
}
div.wym_iframe{ width:100%; 
	iframe{ width:100%; }
}

a.icon_delete{ @include transit_icon24(2); }

//
//td, th{ padding:.5em; }
//p.pagination{ margin:0 0 .5em 0; padding:0 1em !important; height:auto;
//	span.pagination_detail{ display:block; float:left; padding:.25em 0; }
//}
//div.buttons{ position:absolute; top:0; right:10px; }
//legend{ font-size:1em !important; padding:.5em; margin:0; }
//span[data-help-for]{ cursor:pointer; cursor:hand; @include iconSquare(24); @include transit_icon24(1); }
//
//h4.icon_text, li.icon_text a{ @include transit_icon24(17); }
//h4.icon_video, li.icon_video a{ @include transit_icon24(18); }
//h4.icon_audio, li.icon_audio a{ @include transit_icon24(20, 0px, 3px); }
//
//
//#post_body{ clear:both;
//	ul#context_fields{ padding:0; @include column(15); list-style-type:none; margin:0 40px 0 0;
//		li.field{ padding:35px .5em .5em .5em; position:relative; border:1px solid #ccc; background-color:white; margin-bottom:1em; overflow:visible;
//			h4{ height:30px; line-height:30px; text-indent:30px; color:$font-color; margin:0; background-color:#eee; 
//				position:absolute; top:0px;  left:0px; width:100%; cursor:move; border-bottom:1px solid #aaa;
//				input{ background:none; padding:0px; border:none; margin:0px; @include border-radius(0px); height:22px; line-height:22px; font-size:14px; color:$font-color; position:relative; top:-1px;
//					&:focus{ border:1px dotted #aaa; }
//				}
//			}
//			a.icon_delete{ position:absolute; top:.25em; right:.5em; @include iconSquare(24); @include transit_icon24(2); }
//		}
//		
//		li.field_video{ text-align:center;
//			*{ text-align:left; }
//			div.video_player{ margin:0px auto 2em auto; height:320px; }
//			ol{ @include pie-clearfix; background:#eee; padding:.25em; margin-bottom:1em;
//				li{ padding:0; margin:0; }
//			}
//			label, input, select{ display:inline !important; }
//		}
//	}
//	#add_field{ @include column(6); float:right;
//		h3{ font-size:1.3em; position:relative;
//			span{ position:absolute; right:0px; top:-2px; @include iconSquare(24); @include transit_icon24(1); 
//				cursor:pointer; cursor:hand;
//			}
//		}
//		p{ font-size:.95em; }
//		ul{ list-style-type:none; margin:0; padding:0;
//			li{ display:block; background:darken($transit-fieldset-background-color, 4%); margin-bottom:.5em; padding:0; border:1px solid darken($transit-fieldset-background-color, 10%);}
//			a{ display:block; text-indent:30px; color:#333; font-weight:bold; text-decoration:none; height:30px; line-height:30px;
//				&:hover{ background-color:darken($transit-fieldset-background-color, 20%); }
//			}			
//		}
//	}
//}
//#asset_overlay{ width:350px; 
//	img{ float:left; margin:0 2em 1em 0; border:1px solid #333; }
//	h4{ color:$transit-heading-font-color; }
//	ul.asset_link{ margin:0; padding:0; list-style-type:none; float:left; width:175px;
//		li{ display:block; padding:.25em; background:$transit-fieldset-background-color; margin-bottom:.5em; }
//	}
//}
//
//#dropbox{
//	p.intro{ position:absolute; top:5.5em; left:300px; width:550px; }
//	#listing{ @include column(16); 
//		table a.icon{ display:block; height:24px; line-height:24px; text-indent:30px; }
//	}
//	#upload_files h3{ font-size:1.3em; }
//}
//
//
//div.wysiwyg { overflow:visible;
//	*{ margin:0; padding:0; height:auto; }
//	ul.toolbar { @include inline-block-list; border-bottom:1px solid #ccc; margin-bottom:0 !important;
//		li.jwysiwyg-custom-command { overflow: hidden; }
//		li { float:left; margin:2px 2px 5px 2px !important; display:block; padding:0px !important; @include border-radius(2px);
//			background-color:#eee; @include iconSquare(24); border:1px solid #ccc; cursor:pointer; cursor:hand; }
//		li.separator { width:1px; height:24px; background:#ccc !important; border:none !important; }
//		li.wysiwyg-button-hover, li.active, li:hover{ background-color:$transit-button-color !important; }
//		li.active { background-color:lighten($transit-button-active-color, 20%); border: 1px solid $transit-button-active-color; }
//		li.bold { @include transit_icon24(8); }
//		li.italic { @include transit_icon24(7); }
//		li.strikeThrough {  }
//		li.underline { @include transit_icon24(9); }
//		li.undo { @include transit_icon24(15); }
//		li.redo { @include transit_icon24(16); }
//		li.insertOrderedList { @include transit_icon24(11); }
//		li.insertUnorderedList { @include transit_icon24(10); }
//		li.insertHorizontalRule {  }
//		li.cut { @include transit_icon24(12); }
//		li.copy { @include transit_icon24(13); }
//		li.paste { @include transit_icon24(14); }
//		li.createLink { @include transit_icon24(5); }
//		li.insertImage { @include transit_icon24(6); }
//		li.empty {  }		
//	}
//	iframe { border:none; clear: left; background-color:white; margin:0; overflow:visible; }
//}