<fieldset id="post_detail">
	<legend>Post Detail</legend>
	<ol>
		<li>
			<%= form.label :title %>
			<%= form.text_field :title, :style => 'width:100%' %>
		</li>
		<li>
			<%= form.label :teaser %>
			
		</li>
	</ol>
</fieldset>