<%= page_id('transit_new_post') %>
<%= page_title("Create a New Post") %>
<div id="post">
	<%= form_for @post, :as => :post, :validate => true do |f| %>
	<%= render partial: 'form' %>
	<% end %>
</div>