$transit-fieldset-background-color:#ccc !default;
$transit-heading-font-color:#333 !default;
$transit-link-color:#1a7bad !default;
$transit-button-color:lighten(#1a7bad, 20%) !default;
$transit-button-active-color:lighten(#1a7bad, 10%) !default;
$transit-secondary-color:#ad361a !default;