@import 'compass/layout/grid-background';
$grid-background-column-color:#eef2f9 !default;
$grid-background-baseline-color:rgba(0,0,0,0.15) !default;
$grid-background-gutter-color:#fff !default;
$grid-background-offset:0px !default;

$debug: false !default;

@if($debug){ 	
	#wrapper{ @include grid-background; }
}
