ul#context_list{ padding:0; width:100%; list-style-type:none; margin:0;
	li.field{ padding:.5em; position:relative; border:1px dashed #ccc; margin-bottom:1em; overflow:visible;
		textarea{ background:transparent; border:none; }
		a.icon_delete{ @include iconSquare(24); }
	}
	li.field_video{ text-align:center;
		*{ text-align:left; }
		div.video_player{ margin:0px auto 2em auto; height:320px; }		
	}
	li.field_audio{ text-align:center;
		*{ text-align:left; }
		div.audio_player{ width:360px; margin:1em auto; }
	}
	li.field_video, li.field_audio{
		div.toolbar{ height:200px; width:400px; 
			ol{ list-style-type:none; @include pie-clearfix; padding:.25em; margin-bottom:1em;
				li{ padding:0; margin:0; }
				label, input, select{ display:inline !important; }
			}
		}
	}
}

div.transit_editor_toolbar{ padding:0; text-align:left; display:block !important; margin-bottom:10px;
	ul{ list-style-type:none; margin:0; padding:3px; border:1px solid #eee; white-space:nowrap; @include pie-clearfix; overflow:visible;
		li{ margin:0px 2px; padding:0px; display:block; float:left;
			a{ @include iconSquare(24); border:1px solid #ccc; background-color:white; 
				&:focus, &:active{ outline:none; }
			}
			a:hover{ background-color:#DCF5F9; border:1px solid darken(#DCF5F9, 10%); }
			a:active { background-color:#aaa; border: 1px solid darken(#aaa, 5%); }
			a.bold { @include transit_icon24(8); }
			a.italic { @include transit_icon24(7); }
			a.underline { @include transit_icon24(9); }
			a.undo { @include transit_icon24(15); }
			a.redo { @include transit_icon24(16); }
			a.ordered_list { @include transit_icon24(11); }
			a.unordered_list { @include transit_icon24(10); }
			a.cut { @include transit_icon24(12); }
			a.copy { @include transit_icon24(13); }
			a.paste { @include transit_icon24(14); }
			a.unlink { @include transit_icon24(28); }
			a.insert_link { @include transit_icon24(5); }
			a.insert_image { @include transit_icon24(6); }		
		}
		li.separator { width:1px; height:24px; background: #555; border:none !important; }
	}
}

div.transit_context_dialog{ text-align:left;
	div.ui-dialog-titlebar{ padding:0 1em; height:20px; line-height:20px; font-size:11px; 
		span.ui-dialog-title{ display:inline; margin:0; padding:0; }
	}
}
div.wym_iframe{
	iframe{ width:100%; }
}

*.transit-editable{ outline:1px dashed #dedede;
	&:focus, &:active{ outline:none; }
}

#edit_post_form{ @include column(14); }
#transit_admin_help{ display:none; }