#transit_admin_panel{ @include column(9, true); float:right; clear:none !important; padding:10px;
	#post_meta{
		h4.published{ padding:.5em; margin-bottom:1em; border:1px solid #ddd; position:relative;
			input{ position:absolute; top:.5em; right:1em; }
		}
		#post_primary_image{ border-bottom:1px dashed #ddd; @include pie-clearfix; padding-bottom:1em; margin-bottom:1em;
			h4{ margin-bottom:1em; }
			span.primary_image_holder{ display:block; float:left; height:50px; width:50px; border:1px solid #ccc; background:#dedede; 
				margin:0 1em .5em 0;
			}
			img{ width:50px; }
			span.image_options{ width:70%; display:block; float:left; }
			div.fileinput-wrapper { position:relative; @include inline-block; overflow:hidden; padding:0; 
				span.fileinput-input, span.fileinput-button{ 
					float:left; height:25px; padding:0px 5px; overflow:hidden; white-space:nowrap; line-height:25px;
				}
				span.fileinput-input{ width:150px; background:none !important; border:1px dashed #ccc !important; color:#333 !important; }
				span.fileinput-button { overflow:hidden; white-space:nowrap; width:20px; @include border-radius(3px);
					span.fileinput-button-text{ @extend .ui-icon; @extend .ui-icon-plusthick;  position:relative; top:4px; left:2px; }
				}

				input.fileinput-file { position:absolute; left:-9999px; -moz-opacity:0; filter:alpha(opacity=0); opacity:0;}
			}
		}
	}
	#transit_admin_panel_wrapper{ border:none; padding:0px; 
		h4{ margin:0; }
		#post_teaser{ width:95%; height:125px; }
	}	
	#datepicker_target{ height:1px; overflow:hidden; }
	div.datepicker{ width:100%; margin-bottom:1em;
		div.ui-datepicker-inline, table{ width:100%; }
	}
	#post_topics{
		ol, ul{ list-style-type:none; margin-right:0px; padding:0px; }
	}
	#topic_selections{
		li{ display:block; height:25px; line-height:25px; position:relative; @extend .ui-state-hover; padding:0px;
			text-indent:1em; margin-bottom:5px;
			a.remove_from_list{ position:absolute; right:0px; top:0px; 
				display:block; @include transit_icon24(2); @include iconSquare(24);
			}
		}
	}
	#post_assets{ position:relative; padding-top:1.5em;
		#upload_file_link{ position:absolute; top:1em; right:1em; }
		h4.primary{ margin-bottom:1em; }
		ul{ list-style-type:none; margin:0 0 1em 0; padding:0px; @include pie-clearfix;
			li.header{ border-top:1px dashed #ccc; padding:.75em 0px .5em 0px; border-bottom:1px dashed #ccc; margin-bottom:.5em; }
			li{ display:block; position:relative; 
				span.add_heading{ font-weight:bold !important; display:block; }
				ul{ list-style-type:none; @include inline-block-list;
					li{ padding-left:3px; border-left:1px solid #ccc; margin-right:2px; }
					li:first-child{ padding-left:0; border-left:0; }
				}
			}
		}
		#asset_image_list{ 
			span.image_asset_holder{ position:relative; display:block; float:left; margin-right:1em; 
				border:1px solid #ccc; width:50px; height:50px;
			}
			a.icon_delete{ position:absolute; bottom:-1px; left:-1px; background-color:white; border:1px solid #ccc; }
		}
		#asset_file_list{
			li.file{ position:relative; padding:2px 0px; border-bottom:1px dotted #dedede; }
			a{ display:block; height:25px; line-height:25px; text-indent:25px; }
			a.icon_delete{ position:absolute; top:0px; right:0px; @include iconSquare(24); }
		}
	}
	#post_contexts{
		h4{ margin-bottom:.5em; }
		ul{ padding:0px; margin:0px; }
		li.icon_text a{ @include transit_icon24(17); }
		li.icon_video a{ @include transit_icon24(18); }
		li.icon_audio a{ @include transit_icon24(20); }
		li{ display:block; margin:0 0 .5em 0; padding:0;  }
		a{ display:block; text-indent:30px; height:25px; line-height:25px; @extend .ui-state-hover; font-weight:bold; }
	}
	a.icon_delete{ @include transit_icon24(2, -2px, -2px); @include iconSquare(20); }
}

#file_uploader{ 
	#file_upload_queue{ padding:50px 0px 0px 0px; margin-right:0px; 
		div.uploadifyQueueItem{ padding-right:30px; position:relative;
			div.uploadifyProgress{ height:5px; width:100%;  
				div.ui-progressbar-value{ height:100%; }
			}
			span.fileName{ position:relative; display:block; text-indent:5px; height:24px; line-height:24px; z-index:1000; }
			span.data{ display:none; }
			div.cancel{ position:absolute; top:0px; right:0px; 
				a{ @include iconSquare(24); @include transit_icon24(2); }
				img{ display:none; }
			}
		}
	}
}

#transit_admin_panel_buttons{ @include inline-block-list; text-align:right; padding:5px; position:absolute; top:0px; right:1em;
	a, button{ font-size:1.15em; font-weight:bold; text-align:left; }
}