#transit_toolbar{ height:35px; padding:5px 1em 0px 1em; margin-bottom:2em;
	ol{ @include inline-block-list; text-align:right; overflow:visible !important;
		li{ vertical-align:middle; padding:0; margin:0 .5em 0 0; text-align:left; overflow:visible !important; }
		.ui-button{ height:30px; line-height:30px; position:relative; top:-1px; }
		a.ui-button{ @include inline-block; }
		label.ui-button{ @include inline-block; height:30px; 
			span.ui-button-text{ font-size:1.1em; }
		}
		label[for='post_published'].ui-state-active{ color:green; font-weight:bold; 
			span.ui-button-icon-primary{ @extend .ui-icon-green; }
		}
		input.toggle_button{ display:inline !important; }
		span.ui-button-text{ @include inline-block; }
		li.menu{ position:relative; display:block; float:left; height:30px; line-height:32px; @extend .ui-state-default; border:none !important;
			padding:0px 1em 0px 25px;
			span{ position:absolute; top:8px !important; left:5px; margin-top:0px !important; }
			ol{ position:absolute; width:200px; top:35px; left:0px; z-index:2000; height:auto !important; display:none;
				li{ display:block; height:30px; line-height:30px; float:none; font-size:12px; }
				a{ display:block; height:100%; text-indent:35px; }
			}
			&:hover{ @extend .ui-state-hover; height:35px; 
				ol{ display:block; 
					a:hover{ background-color:#333; }
				}
				li.icon_text a{ @include transit_icon24(17); }
				li.icon_video a{ @include transit_icon24(18); }
				li.icon_audio a{ @include transit_icon24(20, 0px, 3px); }
			}
			
			#post_date_selects{ width:1px; height:1px; @include inline-block; overflow:hidden; }
		}
	}
}