/*
*= require_tree ./
*/

@import 'includes/global';
td, th{ padding:.5em; }
th{ color:white; }
tr:hover td{ background:lighten(#ccc, 10%) !important; }
p.pagination{ margin:0 0 .5em 0; padding:.25em .5em; background:$ltblue; 
	span.pagination_detail{ display:block; float:left; padding:.25em 0; }
}
table{ border-bottom:1px solid #ccc;}
div.buttons{ position:absolute; top:65px; right:10px; }
legend{ font-size:1em !important; padding:.5em; margin:0; }
fieldset{ padding-top:.5em !important; }
span[data-help-for]{ cursor:pointer; cursor:hand; }

#post_info{
	li#default_image{ width:285px; margin-right:0px; position:relative;
		label{ margin-bottom:.5em; }
		span{ display:block; }
		span.upload{ position:absolute; top:3.25em; right:0px; width:175px;
			strong{ display:block; margin-bottom:.25em; }
			input[type=file]{ width:100%; margin-bottom:1.5em; }
		}
		span.existing{ margin-bottom:1em; border:1px dotted #eee; padding:5px; @include min-height(50px) }
		span.options{ clear:both;
			small{ display:block; padding-left:2.5em; }
			input, strong{ display:inline; }
			input{ margin-right:5px; }
			strong{ position:relative; padding-right:15px;
				span{ @include iconSquare(24); @include icon24(1); @include inline-block; position:absolute; top:-.5em; right:-15px; }
			}
		}
	}
	li#default_image.no_image{ 
		span.existing, span.upload strong{ display:none; }
		span.upload{ position:static; background:none; padding:0; }
	}
}

#post_body{
	
	h4.icon_text, li.icon_text a{ @include icon24(17); }
	h4.icon_video, li.icon_video a{ @include icon24(18); }
	
	ul#post_fields{ padding:0; @include column(15); list-style-type:none; margin:0 40px 0 0;
		li.field{ padding:35px .5em .5em .5em; position:relative; border:1px solid #ccc; background-color:white; margin-bottom:1em; overflow:visible;
			h4{ height:30px; line-height:30px; text-indent:30px; color:$font-color; margin:0; background-color:#eee; 
				position:absolute; top:0px;  left:0px; width:100%; cursor:move; border-bottom:1px solid #aaa;
				input{ background:none; padding:0px; border:none; margin:0px; @include border-radius(0px); height:22px; line-height:22px; font-size:14px; color:$font-color; position:relative; top:-1px;
					&:focus{ border:1px dotted #aaa; }
				}
			}
			a.icon_delete{ position:absolute; top:.25em; right:.5em; @include iconSquare(24); @include icon24(2); }
		}
		
		li.field_video{ text-align:center;
			*{ text-align:left; }
			div.video_player{ margin:0px auto 2em auto; }
			ol{ @include pie-clearfix; background:#eee; padding:.25em; margin-bottom:1em;
				li{ padding:0; margin:0; }
			}
			label, input, select{ display:inline !important; }
		}
	}
	#add_field{ @include column(6);
		h3{ font-size:1.3em; @include bordered($blue); position:relative;
			span{ position:absolute; right:0px; top:-2px; @include iconSquare(24); @include icon24(1); 
				cursor:pointer; cursor:hand;
			}
		}
		p{ font-size:.95em; }
		ul{ list-style-type:none; margin:0; padding:0;
			li{ display:block; background:$ltblue; color:$text_blue; margin-bottom:.5em; }
			a{ display:block; text-indent:30px; padding:.5em 0; color:$text_blue; font-weight:bold;
				&:hover{ background-color:$text_blue; color:white; }
			}			
		}
	}
}
#asset_overlay{ width:350px; 
	img{ float:left; margin:0 2em 1em 0; border:1px solid #333; }
	h4{ @include heading_font; color:$text_blue; }
	ul.asset_link{ margin:0; padding:0; list-style-type:none; float:left; width:175px;
		li{ display:block; padding:.25em; background:$ltblue; margin-bottom:.5em;
			a{ color:$blue; }
		}
	}
}
#post_file_list, #post_image_list{ list-style-type:none; margin:0; padding:0; }
#post_images, #post_files{
	h3{ font-size:1.35em; @include bordered($blue); }
}
#post_images{ margin:0 40px 0 0; @include column(9.5); 
	#post_image_list{ @include inline-block-list; 
		li{ position:relative; padding:5px 5px 15px 5px; border:1px solid #ccc; text-align:center; margin-bottom:.25em;
			a.icon_delete{ position:absolute; bottom:-1px; right:1px; @include iconSquare(24); @include icon24(2); }
			a.icon_zoom{ position:absolute; bottom:-1px; right:25px; @include iconSquare(24); @include icon24(19); }
		}
	}
}
#post_files{ @include column(6); 
	#post_file_list{
		li{ position:relative; padding-right:30px; border-bottom:1px dotted #ccc;
			a{ display:block; height:24px; line-height:24px; text-indent:30px; }
			a.icon_delete{ position:absolute; bottom:-1px; right:1px; @include iconSquare(24); @include icon24(2); }
		}		
	}
}

#post_assets{ position:relative;
	#post_asset_toggle{
		position:absolute; top:5px; right:2em; display:block; background:white; color:$font-color; padding:.25em 1em; border:1px solid #ccc;
		font-size:.9em; font-style:italic;
	}
}

#upload_files{ @include column(6.5, true); float:right; background:$ltblue; padding:1em; border:2px solid $ltblue;
	div.uploadify{ @extend .button; @include button($blue); text-align:center; font-weight:bold; width:auto; height:auto; @include inline-block;		
		div.uploadifyButton{ height:100%; 
			span{ @include inline-block; position:relative; top:.25em; }
		}
	}
	#upload_list{ border:1px dotted $blue; background:white; padding:5px; }
	#start_upload{ height:25px; }	
	div.uploadifyQueueItem{ padding-right:30px; position:relative;
		div.uploadifyProgress{ display:none; }
		span.fileName{ position:relative; display:block; text-indent:5px; height:24px; line-height:24px; z-index:1000; background-image:url(/images/progress_animation.gif); background-repeat:no-repeat; background-position:-225px 50%; font-size:11px; }
		span.data{ display:none; }
		div.cancel{ position:absolute; top:0px; right:0px; 
			img{ display:none; }
		}
	}
}

#dropbox{
	p.intro{ position:absolute; top:5.5em; left:300px; width:550px; }
	#listing{ @include column(16); 
		table a.icon{ display:block; height:24px; line-height:24px; text-indent:30px; }
	}
	#upload_files h3{ font-size:1.3em; }
}


div.wysiwyg { overflow:visible;
	*{ margin:0; padding:0; height:auto; }
	ul.toolbar { @include inline-block-list; border-bottom:1px solid #ccc; margin-bottom:.5em;
		li.jwysiwyg-custom-command { overflow: hidden; }
		li { float:left; margin:2px 2px 5px 2px !important; display:block; padding:0px !important; @include border-radius(2px);
			background-color:#eee; @include iconSquare(24); border:1px solid #ccc; cursor:pointer; cursor:hand; }
		li.separator { width:1px; height:24px; background:#ccc !important; border:none !important; }
		li.wysiwyg-button-hover, li.active, li:hover{ background-color:$ltblue !important; }
		li.active { background-color:lighten($blue, 20%); border: 1px solid $text_blue; }
		li.bold { @include icon24(8); }
		li.italic { @include icon24(7); }
		li.strikeThrough {  }
		li.underline { @include icon24(9); }
		li.undo { @include icon24(15); }
		li.redo { @include icon24(16); }
		li.insertOrderedList { @include icon24(11); }
		li.insertUnorderedList { @include icon24(10); }
		li.insertHorizontalRule {  }
		li.cut { @include icon24(12); }
		li.copy { @include icon24(13); }
		li.paste { @include icon24(14); }
		li.createLink { @include icon24(5); }
		li.insertImage { @include icon24(6); }
		li.empty {  }		
	}
	iframe { border:none; clear: left; background-color:white; margin:0; overflow:visible; }
}