<li id="asset_<%= file.id %>" class='file'>
	<%= link_to file.name, file.file.url(:original), :class => file_icon_class(file) %>
	<%= link_to 'Delete', transit.delete_asset_path(file.id), :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this image?\n\nNOTE: Make sure you remove any links to this file from your copy if you've used it.\n\n", :class => 'icon_delete', :title => 'Delete File' %>
</li>
