<div id="post_assets">
	<h4 class='primary'>Files and Images</h4>
	<% if resource.persisted? %>
	<%= link_to 'Upload a File', '', id:'upload_file_link', rel: "asset[file]", 
				data: { 
					ui_button: 'plusthick',
					upload_path: "#{transit.package_assets_path(resource_type: resource_class.name, resource_id: resource.id.to_s, auth_token: current_user.authentication_token)}"
				} %>
	<ul id="asset_image_list">
		<li class='header'><h4>Images</h4></li>
		<% resource.images.each do |image| %>
		<%= render(partial: 'transit/assets/image', object: image) %>
		<% end %>
	</ul>
	<ul id="asset_file_list">
		<li class='header'><h4>Files</h4></li>
		<% resource.files.each do |file| %>
		<%= render(partial: 'transit/assets/file', object: file) %>
		<% end %>
	</ul>
	<% else %>
	<p>Please save the post before uploading files/images.</p>
	<% end %>
</div>