<script type="text/javascript" charset="utf-8">
//<![CDATA[
	
	var editor_options = {
		rmUnusedControls: true,
		css: '/assets/transit-editor.css?' + parseInt((Math.random() *99999999), 0.0),
		initialContent: "<p>Add some text!</p>",
		resizeOptions: true,
		plugins: {
			rmFormat: { rmMsWordMarkup:true }
		},
		controls: {
		        bold: 	   	{ visible: true },
				italic: 	{ visible: true },
		        underline: 	{ visible: true },
		        createLink: { visible: true },
		        insertImage:{ visible: false },
				insertOrderedList:{ visible:true },
				insertUnorderedList:{ visible:true },			
				undo: { visible:true },
				redo: { visible:true }
		    },
		events:{ 
			focusin:function(event, api){ active_editor = $(api.original); } 
		}
	},
	active_editor;
		
	function create_editors(){
		$('#context_fields textarea').wysiwyg(editor_options);
	}	
	create_editors();	
	
	
//]]>
</script>