<div class='panel'>
	<h4 class='ui-dialog-titlebar ui-widget-header ui-state-default'>
		Uploaded Images
	</h4>
	<ul id="post_image_list">
		<%= render partial: 'transit/assets/image', collection: parent.images %>
	</ul>
</div>