<ol>
	<li class='multifield datepicker' style="white-space:nowrap">
		<%= form.label :post_date %>
		<%= form.date_select :post_date, { order: [:month, :day, :year], use_short_month: true } %>
	</li>			
</ol>