<div id="upload_files" class='panel'>
	<h4 class='ui-dialog-titlebar ui-widget-header ui-state-default'>Upload A File</h4>
	<ul id="upload_list">
	</ul>
	<%= file_field_tag :asset_upload, :class => 'uploadify' %>
	<%= link_to 'Upload!', '#', id: 'start_upload' %>
</div>

<script type="text/javascript" charset="utf-8">
//<![CDATA[
	 
	
	
	
//]]>
</script>